body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #05386B;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #5cdb95;
  padding: 30px;
}

h1 span {
  background-color: #05386B;
  color: #EDF5E1;
  padding: 20px;
  border-radius: 10px;
}

form {
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #05386B;
  background-color: #EDF5E1;
  padding: 20px;
  border-radius: 15px;
  border-color: #05386B;
  border-style: solid;
}

.search {
  display: flex;
  justify-content: center;
}

footer {
  color: #05386B;
  text-align: center;
  font-size: x-small;

}

footer a {
  color: #05386B;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #EDF5E1
}

table {
  color: #EDF5E1;
  background-color: #05386B;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  text-align: center;
}

form .submit {
  background-color: #379683;
  color: #EDF5E1;
  margin-top: 5px;
}

tbody {
  background-color: #EDF5E1;
  color: #379683;
}

img {
  padding:10px;
}

.sortFunc:hover {
  text-decoration: underline;
}